<header class="entry-header">
    <h4>Entrega de Trabalho</h4>
    <h1>Desenv. De<br/>Software em Nuvem</h1>
</header><!-- .entry-header -->

<div class="entry-content">
    <p>O site disponibiliza os algoritimos fundamentais, sendo eles: Contagem, Fibonacci, Mdc, Ordenação de Array, Números Primos e Somatório.</p>
</div><!-- .entry-content -->

<footer class="entry-footer read-more">
    <a href="/primo">Começar</a>
</footer><!-- .entry-footer -->