<div class="card">
    <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Somatório
        </button>
        </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            <form>
                <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Digite um número</label>
                <div class="col-sm-7">
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="inputSoma" placeholder="Qtd de Repetições" aria-label="Digite um número positivo" aria-describedby="button-addon2">
                        <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="btnSoma">Calcular</button>
                        </div>
                    </div>
                </div>
                </div>
                <div class="form-group row">
                <label for="inputPassword3" class="col-sm-4 col-form-label">Resultado</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="resultSoma" disabled>
                </div>
                </div>
                
            </form>    
        </div>
    </div>
    </div>